name: CI

on: [pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest
    name: CI for Pull Request
    steps:
    - name: Checkout the code
      uses: actions/checkout@v1

    - name: CI
      uses: BluezTestBot/action-kernel-ci@main
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        email_token: ${{ secrets.EMAIL_TOKEN }}
